
<div onClick="document.forms['gits_<%= gift.id%>'].submit();" >
  <%= form_tag({action: 'search_next'},  options={:method=>:post, :name => ('gits_' + gift.id.to_s)}) do %>
    <div class="gift-container">
      <div class="gift-cards">
        <a class="gift-card" href="#">
          <span class="gift-card-header" style="background-image: url(http://placeimg.com/400/400/animals);">
            <span class="gift-card-title">
              <h3><%= gift.name %> - <%= gift.min_price.to_i %> € </h3>
            </span>
          </span>
          <span class="gift-card-summary">
            A summary will also be present. Usually two to three brief sentences about the content on the detail page.
          </span>
          <span class="gift-card-meta">
            By <%= gift.brand.name %>
          </span>
        </a>
      </div>
    </div>
    <%= hidden_field_tag :chosen, gift.id %>
  <% end %>
</div>