
<div onClick="document.forms['gift_<%= gift.id%>'].submit();" >
  <%= form_tag({action: 'search_next'},  options={:method=>:post, :name => ('gift_' + gift.id.to_s)}) do %>
    <div class="gift-container">
      <div class="gift-cards">
        <a class="gift-card" href="#">
          <span class="gift-card-header" style="background-image: url(<%= gift.image_url %>);">
            <span class="gift-card-title">
              <h3><%= gift.name %> - <%= gift.min_price.to_i %> € </h3>
            </span>
          </span>
          <span class="gift-card-summary">
            <%= gift.description[0..100] rescue "Ici devrait apparaitre une petite description sympa du produit ! Pas de panique ça arrive :-)" %>
            <% if gift.description && gift.description.size > 100 %>
              <%="..."%>
            <% end %>
          </span>
          <span class="gift-card-meta">
            By <%= gift.brand.name %>
          </span>
        </a>
      </div>
    </div>
    <%= hidden_field_tag :chosen, gift.id %>
  <% end %>
</div>