<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gift.experience %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @gift.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @gift.comment %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @gift.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @gift.max_price %>
</p>

<p>
  <strong>Shipping available:</strong>
  <%= @gift.shipping_available %>
</p>

<p>
  <strong>Shipping price:</strong>
  <%= @gift.shipping_price %>
</p>

<p>
  <strong>Shipping time:</strong>
  <%= @gift.shipping_time %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @gift.brand.name %>
</p>
<p>

<%= link_to 'Back', :back %>
