<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="wrap">
      <div class="row">
        <div class="mobile-clear"></div>
          <div class="show show-third">
            <img src="<%= @gift.image_url %>" />

            <div class="mask">
              <!-- <h2><%= @gift.min_price.to_i %>€</h2>
              <p>A partir de</p> -->
              <a href="#" class="more">J'achète !</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">

  </div>

</div>

<div class="row">
  <div class= "text-center">
    <%= link_to 'Back', :back %>
  </div>
</div>










<!--
<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gift.experience %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @gift.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @gift.comment %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @gift.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @gift.max_price %>
</p>

<p>
  <strong>Shipping available:</strong>
  <%= @gift.shipping_available %>
</p>

<p>
  <strong>Shipping price:</strong>
  <%= @gift.shipping_price %>
</p>

<p>
  <strong>Shipping time:</strong>
  <%= @gift.shipping_time %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @gift.brand.name %>
</p>
<p>
 -->

