<p id="notice"><%= notice %></p>

<!-- <div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="wrap">
      <div class="row">
        <div class="mobile-clear"></div>
          <div class="show show-third">
            <img src="<%= @gift.image_url %>" />

            <div class="mask">
              <h2><%= @gift.min_price.to_i %>€</h2>
              <p>A partir de</p>
              <a href="<%= @gift.url %>" target="_blank" class="more">J'achète !</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="row">
      <h2><%= @gift.name %></h2>
    </div>
  </div>

</div> -->

<div class="media">
  <div class="media-body">
    <div class="media-section">
      <img src="<%= @gift.image_url %>" />
    </div>
    <div class="media-section">
      <div class="share-links">
        <a href="#" class="share-link bg-facebook">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-link bg-email">
          <i class="fa fa-envelope-o"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="media-aside">

    <div class="media-section">
      <h3><%= @gift.name %></h3>
      <h4> A partir de <%= @gift.min_price.to_i %> €</h4>
      <p><%= @gift.description %></p>
    </div>
    <div class="media-section">
      <h4>127 mecs le recommandent !</h4>
    </div>
    <div class="media-section">
      <div class="share-links">
        <a href="#" class="buy-link bg-email">
          <span>Fais chauffer la CB  </span>
          <p><i class="fa fa-credit-card"></i></p>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class= "text-center" id="back-to-search">
    <%= link_to 'Back', :back, class: "back-button" %>
  </div>
</div>










<!--
<p>
  <strong>Name:</strong>
  <%= @gift.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @gift.experience %>
</p>

<p>
  <strong>Url:</strong>
  <%= @gift.url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @gift.image_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @gift.comment %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @gift.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @gift.max_price %>
</p>

<p>
  <strong>Shipping available:</strong>
  <%= @gift.shipping_available %>
</p>

<p>
  <strong>Shipping price:</strong>
  <%= @gift.shipping_price %>
</p>

<p>
  <strong>Shipping time:</strong>
  <%= @gift.shipping_time %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @gift.brand.name %>
</p>
<p>
 -->

