<%= form_for(@gift_proposition, url: 'gift_propositions/create', :html => {class: "form-horizontal"}) do |f| %>
  <% if @gift_proposition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift_proposition.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% @gift_proposition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <%= f.text_field :name, class: "col-sm-8 control-label" %>
  </div>
  <div class="form-group">
    <%= f.label :url, class: "col-sm-2 control-label"  %>
    <%= f.text_field :url, class: "col-sm-8 control-label" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label"  %>
    <%= f.text_area :description, class: "col-sm-8 control-label" %>
  </div>
  <div class="form-group">
    <%= f.label :comment, class: "col-sm-2 control-label"  %>
    <%= f.text_area :comment, class: "col-sm-8 control-label" %>
  </div>
  <div class="form-group">
    <%= f.label :price, class: "col-sm-2 control-label"  %>
    <%= f.text_field :price, class: "col-sm-4 control-label" %>
  </div>
  <div class="form-group span7 text-center">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
