<!DOCTYPE html>
<html content="text/html; charset=UTF-8">
<head>
  <title>The wingman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
        <% if notice %>
            <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
            <div class="alert alert-danger"><%= alert %></div>
        <% end %>
        <nav class="navbar navbar-default">
	        <ul class="nav navbar-nav nav-right">
	            <% if current_user %>
                  <li><%= link_to 'Propose a gift', give_path%></li>
	            	  <li><%= link_to 'My profiles', root_path %></li>
	                <li><%= link_to 'Log Out', logout_path%></li>
	            <% else %>
                  <li><%= link_to 'Propose a gift', give_path%></li>
	                <li><%= link_to 'Log In', login_path %></li>
	                <li><%= link_to 'Sign Up', signup_path %></li>
	            <% end %>
	        </ul>
        </nav>
        <%= yield %>
    </div>
</body>
</html>